 
/* For Sign-in Page  */

  .signin-container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-basis: 35% 65%;
    overflow: hidden;
  }
  
  /* Left section: Form */
  .signin-box {
    flex: 0 0 30%;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .signin-logo {
    width: 500px;
    margin-bottom: 20%;

  }
  
  .signin-para {
    font-size: 2rem;
    font-weight:400;
    color: 0;
    margin-bottom: 15%;
  }

  .signin-para span {
    font-weight: bold;
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 100%;
  }
  

  .signin-input-group label {
    display: block;
    width: 400px;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .signin-input-group input {
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .signin-button {
    margin-top: 10px;
    margin-left: 110px;
    width: 135px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signin-button:hover {
    background-color: #444;
  }
  
  .signin-link {
    margin-top: 20px;
    font-size: 1.3rem;
    color: #555;
  }
  
  .signin-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signin-link a:hover {
    color: #007bff8a;
  }
  
  /* Right section: Image */
  .signin-image {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    
  }
  
  .signin-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }