/* About us body */
.au-body {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: auto; 
    width: calc(100vw - 20px);
    background-color: #C0C0C0;    
}

/* Container for header and content */

.au-container { 
   display: flex;
   flex-direction: column;
   margin-left: 90px;
   flex-grow: 1;
   height: auto;
   width: calc(100vw - 200px);
   background: #CDCDCD;
}

/* Content */
.au-content {
    width: calc(100vw - 112px);
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #ffffff;
    border-radius: 15px;
}


/* Style of elements inside the container */


.au-title-1{
    font-size: 50px;
    font-weight: bold;
}

.au-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.au-title-container img{
    width: auto;
}

.au-title-container p{
    width: 40%;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

.au-wwr-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.au-wwr-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    background: #F6F9FF;
    width: 40%;
}

.au-wwr-title{
    font-size: 45px;
    font-weight: bold;
}

.au-wwr-text{
    font-size: 2rem;
}
.au-body-container {
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.au-body-items {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.au-body-items p {
    font-size: 2rem;
    text-align: center;
}

.au-body-items-text{
    background-color: #F6F9FF;
}
